@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@700&family=Russo+One&display=swap');

header {
    position: relative;
}

header > h1{

    font-size: 50px;
    text-align: center;
    top: 10px;
    color: #ff6600;
    font-family: Goldman;
}

.board {

    display:grid;
    grid-template-columns: auto auto auto auto;
    gap: 2px;
   
    margin: auto auto;
    width: 700px;
    height: 700px;
    position: relative;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;

}


.square {

    border: 2px solid white;
    border-radius: 25px;
    width: 175px;
    height: 175px; 
    background-color: #00ccff;

}

/* create a keyframe that changes the color from current to another
    create the animation within this key frame
 */
