@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

header {
    position: relative;
}

header > h1{

    font-size: 45px;
    text-align: center;
    top: 10px;
    color: orangered;
    font-family: Comfortaa;
}

body {
  

}
.board {

    display:grid;
    grid-template-columns: auto auto auto auto;
    gap: 2px;
   
    margin: auto auto;
    width: 820px;
    height: 820px;
    position: relative;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;

  
}


.square {

    border: 2px solid black;
    border-radius: 20px;
    width: 200px;
    height: 200px; 
    background-color: #59ceec;

}

/* create a keyframe that changes the color from current to another
    create the animation within this key frame
 */
